:root{
    --vermelho:#E50914;
    --preta:#141414;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/*elementos base*/
body{
   background: var(--preta);
   font-family: 'Arial', Times, serif;
   color:white;
}


header .container{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 1100px;
    height: 100%;
    
}

header .logo{
    margin-left: 5px;
    color: var(--vermelho);
    font-family: 'Arial Black', Times;
    font-size:40px;
}

header nav a{
    text-decoration:none;
    color:#AAA;
    margin-right: 10px;
}

.mobile{
    display: none;
}

nav.mobile > i{
	position: relative;
	right: 8px;
	cursor: pointer;
	font-size: 35px;
	color: var(--vermelho);
}

nav.mobile ul{
	display: none;
	position: absolute;
	left: 0;
	width: 100%;
	top: 55px;
	background: var(--vermelho);
	list-style-type: none;   
}

nav.mobile li{
	font-weight: lighter;
	border-bottom: 1px solid white;
	text-align: center;
	padding:8px 0;
}

nav.mobile a{
	display: block;
	text-decoration: none;
	color: black;
}



header nav a:hover{
    color:#fff;
}

/*filme principal*/
.filme-principal{
    font-size:16px;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5) 100%), url('../img/capa-house.jpg');
    height: 400px;
    background-size:cover;
 

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}


.filme-principal .descricao{
    margin-top: 10px;
    margin-bottom: 40px;
}


.filme-principal .titulo{
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

.botao{
    background-color: rgba(0,0,0,.50);
    border:none;
    color: white;

    padding:15px 30px;
    margin-right: 15px;
    font-size: 12px;

    cursor: pointer;
    transition: .3s ease all;
}

.botao:hover{
    background-color:white;
    color:black;
}

.botao i{
    margin-right: 8px;
}


.container{
    margin-left: 20px;
}

.filme-principal .container{
    width: 70%;
}

.box-filme{
    height: 100%;
    width: 100%;
    display: block;
    cursor: pointer;
}


.carrosel-filmes{
    text-align: center;
    margin-top:10px;
}

.carrosel-filmes h2{
    margin-bottom: 10px;
}

.item img:hover{
    transition: 1s;
	transform:scale(1.2,1.2);
}
.top{
    z-index: 999;
    position: fixed;
    outline: none;
    bottom: 30px;
    right: 30px;
    border-radius: 50%;
    height: 65px;
    width: 65px;
    cursor: pointer;
    background: var(--preta);
    color: #FFF;
    border: 1px solid #f1f1f1;
}
.top i{
    font-size: 30px;
}
.top:hover{
    background: #d7d7d7;
    color: #000;
}

footer{
    text-align: center;
    padding: 20px;
}
